name: Rust

on:
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Install nightly toolchain
      run: rustup default nightly
    - uses: actions/checkout@v6
    - name: Run tests
      run: cargo test
